

@mixin ss_font($fw, $fs, $lh) {
  font-family: 'Roboto', sans-serif;
  font-weight: $fw;
  font-size: $fs;
  line-height: $lh;
}

%ss_200 {
  &_12_14 {
    @include ss_font(200, 12px, 14px)
  }
}

%ss_400 {
  &_14_16 {
    @include ss_font(400, 14px, 16px)
  }
}

%ss_600 {
  &_18_22 {
    @include ss_font(600, 18px, 22px)
  }
}

